
.doleance {
    position: relative;
    width: 100%;
    max-width: 700px;
    background-color: var(--NeutralBackground);
    border-radius: var(--common_border_radius);
    margin-bottom: 20px;
}

.doleanceTop {
    display: flex;
    width: 100%;
}

.doleanceTop h3 {
    color: var(--textColorBlack);
    margin: 15px 10px;
}

.doleanceTop p {
    color: var(--textColorBlack);
    flex-grow: 1;
}

.doleanceCore {
    background-color: var(--NeutralBackground);
    border-radius: var(--common_border_radius);
    margin: 0px 10px;
    padding: 5px 10px;
}

.doleanceCore p {
    margin: 5px;
    color: var(--textColorPureBlack);
}

.doleanceInformations {
    background-color: var(--NeutralBackground);
    border-radius: var(--common_border_radius);
    flex-grow: 1;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.doleanceInformations .doleanceInformationElement {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--NeutralBackground);
    border-radius: var(--common_border_radius);
    margin: 5px;
    /* flex-grow: 1; */
}

.doleanceInformationElement p {
    margin: 5px;
    color: var(--textColorBlack);
    font-size: 14px;
}

.doleance button {
    position: absolute;
    border: none;
    border-radius: var(--common_border_radius);
    background-color: var(--important);
    cursor: pointer;
    padding: 5px 8px;
    color: white;
    margin: 10px;
    top: 0px;
    right: 10px;
}














.selectSectionWrapper {
    margin-top: 20px;
    /* width: 100%; */
    max-width: 700px;
    background-color: var(--NeutralBackground);
    border-radius: var(--common_border_radius);
    display: flex;
    align-items: center;
}

.selectSectionWrapper h3 {
    color: var(--textColorBlack);
    margin: 10px;
}

/* .selectSectionWrapper select,
.selectSectionWrapper select:focus { */
select,
select.focus {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: var(--common_border_radius);
    background-color: var(--accent_Lighter_05);
    padding: 7px 15px;
    color: var(--textColorBlack);
    margin: 15px 0px;
}

.selectSectionWrapper .select-selected {
    background-color: red;
}

.selectSectionWrapper button {
    background-color: var(--important);
    border: none;
    border-radius: var(--common_border_radius);
    padding: 7px 15px;
    font-weight: bold;
    margin: 10px 10px 10px 20px;
    color: white;
}

.selectSectionWrapper button:hover {
    background-color: var(--important_interacted);
}






.listeContainer {
    width: 100%;
    max-width: 700px;
    border-radius: var(--common_border_radius);
    background-color: var(--NeutralBackground);
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}

.etudiantElement {
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: var(--common_border_radius);
    background-color: var(--NeutralBackground);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.etudiantElement .profilePicDiv {
    background-color: var(--accent_Lighter_05);
    min-width: 50px;
    min-height: 50px;
    margin: 10px;
    border-radius: 50%;

}

.etudiantElement .etudiantInformations {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.etudiantInformaionElement {
    margin: 10px;
    flex-grow: 1;
}

.etudiantInformaionElement h4 {
    font-weight: 100;
    color: var(--textColorMidBlack);
    margin: 5px;
}

.etudiantInformaionElement p {
    margin: 0px;
    width: fit-content;
    color: var(--textColorBlack);
}

.EtudiantOption {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.EtudiantOption button {
    border: none;
    /* margin-right: 5px; */
    border-radius: var(--common_border_radius);
    background-color: var(--NeutralBackground);
    color: var(--textColorMidBlack);
    cursor: pointer;
    padding: 5px 8px;
    margin: 5px;
    flex-grow: 1;
}

.EtudiantOption button:hover {
    background-color: var(--important_interacted);
    color: white;
}








.AdminView .EtudiantOption {
    display: flex;
}














/*   Page de creation / affectation des notes   */

.sectionIsHidden {
    display: none !important;
}


/*      Partie Affectation des notes        */

.normalContainer.affectationSelect {
    margin: 20px 0px;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
}
.normalContainer.affectationSelect h3 {
    width: fit-content;
    /* margin: 10px 5px 10px 10px; */
    /* margin: 0px; */
    margin: 10px;
}

.normalContainer.affectationSelect button {
    background-color: var(--important);
    border: none;
    border-radius: var(--common_border_radius);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    height: fit-content;
    font-size: 16px;
    margin: 0px 10px;
    cursor: pointer;
}





.normalContainer.affectationWrapper {
    /* justify-content: center; */
    width: fit-content;
    flex-direction: column;
    flex-wrap: nowrap;
}

.normalContainer.affectationWrapper button {
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--important);
    color: white;
    border: none;
    border-radius: var(--common_border_radius);
    cursor: pointer;
}

.normalContainer.affectationWrapper button:hover {
    background-color: var(--important_interacted);
}

.normalContainer.affectationWrapper .affectationNoteElement {
    margin: 10px;
    background-color: var(--NeutralBackground);
    border-radius: var(--common_border_radius);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.affectationNoteElement .profilePicDiv {
    min-width: 50px;
    min-height: 50px;
    background-color: var(--accent_Light);
    border-radius: 50%;
    margin: 10px 5px;
}

.affectationNoteElement .informationEtudiant {
    max-width: 220px;
    flex-grow: 1;
}

.affectationNoteElement .informationEtudiant h3 {
    margin: 5px;
    font-size: 16px;
}

.affectationNoteElement .informationEtudiant p {
    margin: 5px;
    color: var(--textColorMidBlack);
    font-size: 14px;
}

.affectationNoteElement input {
    display: block !important;
    background-color: var(--NeutralBackground);
    border: none;
    border-radius: var(--common_border_radius);
    padding: 10px;
    font-size: 18px;
    width: 6ch;
    color: var(--textColorBlack);
}

.affectationNoteElement > h3 {
    max-width: fit-content;
    color: var(--textColorMidBlack) !important;
}












/*    Partie Creation des notes      */

.normalContainer {
    position: relative;
    background-color: var(--NeutralBackground);
    width: 100%;
    max-width: 700px;
    border-radius: var(--common_border_radius);
    display: flex;
    flex-wrap: wrap;
}
.normalContainer .createAffectationBtn {
    flex-grow: 1;
    border: none;
    margin: 10px;
    border-radius: var(--common_border_radius);
    padding: 10px;
    background-color: var(--NeutralBackground);
    border: 1px solid var(--accent_Light);
    color: var(--textColorBlack);
    font-weight: bold;
}

.normalContainer .createAffectationBtn:hover {
    background-color: var(--accent_Lighter);

}

.normalContainer .selectedBtn {
    background-color: var(--accent_Light);
    color: white;
    border: none;
}




.adminNotesContainer {
    background-color: var(--NeutralBackground);
    border-radius: var(--common_border_radius);
    /* width: 100%; */
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.noteSlotElement {
    background-color: var(--NeutralBackground);
    border-radius: var(--common_border_radius);
    width: calc(100% - 20px);
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*width: 100%;*/
}

.noteSlotElementElement {
    margin: 8px 10px;
    display: flex;
    flex-grow: 1;
}

.noteSlotElement p {
    padding: 10px 8px;
    color: var(--textColorPureBlack);
    margin: 0px;
    display: block;
}


.noteSlotElementElement h3 {
    margin: 5px;
    color: var(--textColorBlack);
    font-size: 14px;
    align-self: center;
}

.noteSlotElementElement input {
    display: none;
    background-color: var(--neutralBackground_ontTOP);
    border: none;
    border-radius: var(--common_border_radius);
    width: 100%;
    padding: 10px 8px;
}

.noteSlotElementElement input[type="number"] {
    width: 4ch;
}

.isEditMode .noteSlotElement p,
.isEditMode .normalBtns {
    display: none;
}

.editOnlyBtns {
    display: none;
}

.isEditMode .noteSlotElement input,
.isEditMode .optionBtnsDiv .editOnlyBtns {
    display: block;
}

.adminNotesContainer .optionBtnsDiv {
    width: 100%;
    display: flex;
}

.adminNotesContainer .optionBtnsDiv .optionBtns {
    margin: 5px;
    flex-grow: 1;
    background-color: var(--important);
    border: none;
    border-radius: var(--common_border_radius);
    padding: 5px ;
    color: white;
}

.adminNotesContainer .optionBtnsDiv .optionBtns:nth-child(1),
.adminNotesContainer .optionBtnsDiv .optionBtns:nth-child(3),
.adminNotesContainer .optionBtnsDiv .optionBtns:nth-child(5) {
    background-color: var(--NeutralBackground);
    border: 1px solid var(--important);
    color: var(--textColorBlack);
}

.adminNotesContainer .optionBtnsDiv .optionBtns:hover {
    background-color: var(--important_interacted);
    color: white;
    border: none;
}





.onlyWhenAjout {
    display: none;
}

.isAjoutMode .onlyWhenAjout {
    display: block;
}

.isAjoutMode .normalBtns {
    display: none;
}

.adminNotesContainer.isAjoutMode .ajoutDraftDiv input{
    display: block;
}

.adminNotesContainer.isAjoutMode .ajoutDraftDiv p {
    display: none;
}

.adminNotesContainer.isAjoutMode .noteSlotElement {
    width: calc(100% - 20px);
}












/*      methode de calcule saisie section      */

.normalContainer h3 {
    width: 100%;
    margin: 20px;
    color: var(--textColorBlack);
}

.normalContainer p {
    margin: 10px 20px 20px 20px;
    color: var(--textColorPureBlack);
}

.normalContainer input {
    display: none;
}

.normalContainer .methodeOptionBtnDiv {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    display: flex;
    gap: 5px;
}

.normalContainer .methodeOptionBtnDiv .methodeOptionBtn {
    padding: 5px 10px;
    background-color: var(--important);
    border: none;
    border-radius: var(--common_border_radius);
    color: white;
}

.normalContainer .methodeOptionBtnDiv .methodeOptionBtn:nth-child(2) {
    background-color: var(--NeutralBackground);
    border: 1px solid var(--important);
    color: var(--textColorBlack);
}

.normalContainer .methodeOptionBtnDiv .editOnlyBtn {
    display: none;
}

.normalContainer textarea {
    width: 100%;
    margin: 0px 10px 10px 10px;
    border-radius: var(--common_border_radius);
    background-color: var(--NeutralBackground);
    border: none;
    padding: 10px;
    resize: none;
    display: none;
}

.normalContainer textarea::placeholder {
    color: var(--textColorMidBlack);
}


.normalContainer.isEditMode p {
    display: none;
}

.normalContainer.isEditMode textarea {
    display: block;
}

.normalContainer.isEditMode .methodeOptionBtnDiv .methodeOptionBtn {
    display: none;
}
.normalContainer.isEditMode .methodeOptionBtnDiv .editOnlyBtn {
    display: block;
}

.general{
    background-color: var(--neutralBackground);
}
.noteSlotElementElement{
    justify-content: space-between;
}











/*      Section DashBoard       */

.mainWrapper.DashBoardWrapper {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 900px;
    flex-wrap: wrap;
    /* max-width: calc(100% - 20px); */
    overflow: none;
}

.normalSection {
    background-color: var(--NeutralBackground);
    border-radius: var(--common_border_radius);
}

.LeftDashBoard {
    /* width: 500px; */
    flex-grow: 1;
    /* max-width: calc(100% - 20px); */
}

.RightDashBoard {
    flex-grow: 1;
    /* width: 400px; */
    /* height: 100%; */
}

.DashboardSummaryTop {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.DashboardSummaryTop h3 {
    margin: 0px 0px 0px 20px;
    font-size: 28px;
    font-weight: bold;
    color: var(--textColorBlack);
    transform: scale(1.5) translateX(22px);
}

.dashboardSummary {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboardSummary .summarySection {
    flex-grow: 1;
}

.summarySection .summaryElement {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

.summarySection .summaryElement p {
    margin: 0px;
    color: var(--textColorBlack);
    max-width: 180px;
}

.summarySection .summaryElement p:nth-child(1) {
    width: 120px;
    color: var(--textColorMidBlack);
}

.summarySection:nth-child(1) .summaryElement p:nth-child(1) {
    margin: 0px 0px 0px 20px;
}





.subSummarySection {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.subSummarySection h3 {
    color: var(--textColorBlack);
    font-size: 16px;
    margin: 0px auto 0px 10px;
}

.subSummarySection button {
    justify-self: flex-end;
    /* background-color: var(--important); */
    background-color: transparent;
    border: none;
    border-radius: var(--common_border_radius);
    margin: 5px 10px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    /* border: 1px solid var(--textColorMidBlack); */
    /* border: 1px solid transparent; */
}

.subSummarySection button:hover {
    background-color: var(--important);
    /* border: 1px solid transparent; */
}
.subSummarySection button:hover img {
    filter: invert(1);
}


.subSummarySection img {
    width: 30px;
    height: 30px;
    filter: invert(var(--imgFilterBlack));
    transform: translateY(2px);
}






.RightDashBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RightDashBoard h3 {
    width: calc(100% - 20px);
    margin: 15px 0px;
    color: var(--textColorBlack);
}

.DashboardModuleElement {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    overflow: hidden;
    max-height: fit-content;
    transform: scaleY(1);
    transform-origin: top;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--accent_Light_01);
    position: relative;
}

.DashboardModuleElement h3 {
    margin: 15px;
}

.DashboardModuleElement p {
    margin: 15px;
}

.DashboardModuleElement .deleteModuleBtn {
    position: absolute;
    margin: 10px;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
}

.DashboardModuleElement input {
    margin: 10px;
    padding: 10px;
    background-color: var(--accent_Lighter_05);
    color: var(--textColorBlack);
    border: none;
    border-radius: var(--common_border_radius);
    width: calc(100% - 40px);
}

@keyframes flashingError {
    0%   {background-color: var(--accent_Lighter_05);}
    25%  {background-color: var(--important);}
    50%  {background-color: var(--accent_Lighter_05);}
    100% {background-color: var(--important);}
}

.moduleSubElement {
    margin: 5px 10px;
    display: flex;
    align-items: center;
}

.moduleSubElement .libelle {
    margin: 0px 0px 0px 10px;
    background-color: var(--important);
    border-radius: var(--common_border_radius);
    color: white;
    width: 45px;
    text-align: center;
    padding: 5px;
}

.moduleSubElement p:nth-child(2) {
    color: var(--textColorBlack);
    margin: 15px;
}

.RightDashBoard button {
    width: calc(100% - 20px);
    /* padding: 5px 0px; */
    height: 35px;
    border: none;
    color: white;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    background-color: var(--important);
    border-radius: var(--common_border_radius);
    transition: background-color 0.1s ease-in-out;
}

#ajouterModuleBtn {
    justify-self: flex-start;
}

.RightDashBoard button:hover {
    background-color: var(--accent_Lighter_05);
}

.moduleSubElement select {
    margin: 10px;
    flex-grow: 1;
    width: 100%;
}

.moduleSubElement.ajoutElement {
    gap: 10px;
}

.moduleSubElement.ajoutElement button:nth-child(1) {
    background-color: transparent;
    border: 1px solid var(--important);
    color: var(--textColorBlack);
}



.modificationBtns {
    justify-content: flex-end;
}

.modificationBtns button {
    background-color: var(--important);
    color: white;
    border: none;
    border-radius: var(--common_border_radius);
    padding: 8px 12px;
    border: 1px solid transparent;
}

.modificationBtns button:nth-child(1) {
    background-color: transparent;
    border: 1px solid var(--important);
    color: var(--textColorBlack);
}

.modificationBtns button:hover {
    background-color: var(--accent_Lighter);
}

.zeroHeight {
    transform: scaleY(0);
    /* max-height: 0px; */
    /* transition: all 0.2s ease-in-out; */
}





.editModeOnly {
    display: none !important;
}

.notInEditMode {
    display: block;
}
    
.DashboardEditMode .editModeOnly {
    display: block !important;
}

.DashboardEditMode .notInEditMode {
    display: none;
}



.inCreationModeOnly {
    display: none;
}

.notInCreation {
    display: block;
}

.CreationMode .inCreationModeOnly {
    display: block;
}

.CreationMode .notInCreation {
    display: none !important;
    background-color: red;
}



.summaryDiv input,
.summaryDiv select {
    background-color: var(--accent_Lighter_05);
    border: none;
    border-radius: var(--common_border_radius);
    padding: 5px 10px;
    width: calc(100% - 40px);
    margin: 0px 10px 0px 0px;
}

.DashboardSummaryTop input {
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}










@media only screen and (max-width: 650px) {


    .etudiantInformations {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .etudiantInformaionElement {
        display: flex;
        margin: 5px;
        height: 15px;
    }

    .etudiantInformaionElement:nth-child(3) {
        margin: 1px 0px 10px 5px;
    }

    .etudiantInformaionElement h4 {
        margin: 0px;
        font-size: 14px;
        width: 60px;
    }

    .etudiantInformaionElement:nth-child(1) {
        font-weight: bold;
        font-size: 18px;
        margin: 10px 0px 10px 5px;
    }

  

    .noteSlotElementElement input[type="number"] {
        width: 100%;
    }

    .noteSlotElementElement h3 {
        width: 105px;
    }




    .affectationNoteElement .profilePicDiv {
        min-width: 35px;
        min-height: 35px;
    }

    .affectationNoteElement .informationEtudiant h3 {
        font-size: 14px;
        max-width: 140px;
    }
    .affectationNoteElement .informationEtudiant p {
        font-size: 12px;
    }
    


    .mainWrapper.DashBoardWrapper {
        max-width: calc(100% - 20px);
    }

    .summarySection:nth-child(2) .summaryElement p:nth-child(1) {
        margin: 0px 0px 0px 20px;
    }

    .LeftDashBoard {
        width: calc(100%-20px);
    }

}




