
.mainPart {
    width: 80%;
}

.mainPart .TopWrapper {
    display: flex;
    width: 100%;
    height: var(--TopBarSize);
    margin: 10px 0px;
}

.mainPart .TopWrapper .Top {
    width: 100%;
    margin: 10px;
}

.mainPart .TopWrapper .profileDiv {
    min-width: 210px;
    max-width: 210px;
    margin-right: 10px;
}






.mainWrapper {
    width: 100%;
    flex-grow: 1;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: calc(100vh - 90px);
    align-items: center;
    margin: auto;
    max-width: calc(100% - 20px);
    overflow-x: auto;
    position: relative;
}

.EDT {
    background-color: var(--NeutralBackground);
    border-collapse: collapse;
    flex-grow: 1;
    width: 100%;
    border-radius: var(--common_border_radius);
}

.EDT th {
    background-color: var(--accent_Light);
    color: white;
    padding: 3px 0px;
}

.EDT td {
    border: 1px solid var(--textColorMidWhite);
    font-size: 16px;
    min-width: 100px;
    height: 120px;
    position: relative;
    color: var(--textColorBlack);
}

.EDT td .EDTcase {
    /* width: 100%; */
    width: 100%;
    /* background-color: rgba(0,0,0,0.1); */
    /* border-radius: var(--common_border_radius); */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}


.EDT .EDTcase .EDT_module {
    /* background-color: rgba(0,0,0,0.1); */
    background-color: var(--NeutralBackground);
    width: 95%;
    height: 50px;
    display: flex;
    padding: 3px 1px;
    border-radius: 5px;
    transition: transform 0.2s ease;
    cursor: default;
}

.EDT .EDTcase .EDT_module:hover {
    transform: scale(1.05);
}

.EDT .EDTcase .EDT_module .moduleGroupes {
    height: 100%;
    width: 40px;
    display: flex;
    gap: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.EDT .EDTcase .EDT_module .moduleGroupes p {
    margin: 0px;
    padding: 5px;
    font-size: 12px;
    background-color: var(--accent_Lighter_05);
    border-radius: 5px;
    font-weight: bold;
}

.EDT .EDTcase .EDT_module .moduleContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EDT .EDTcase .EDT_module .moduleContent .moduleTitleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0px;
}

.EDT .EDTcase .EDT_module .moduleContent .moduleTitleDiv .moduleType {
    padding: 5px;
    background-color: var(--accent_Lighter_05);
    border-radius: 5px;
    margin: 0px 5px 0px 0px;
}

.EDT .EDTcase .EDT_module .moduleContent .moduleTitleDiv .moduleTitle {
    margin: 0px 0px 0px 5px;
}

.EDT .EDTcase .EDT_module .moduleContent .moduleClass {
    margin: 0px;
    font-weight: lighter;
    font-size: 14px;
    color: var(--textColorMidBlack);
}






/* .EDT td .EDTcase p:nth-of-type(1) {
    margin: 5px 0px 2px 0px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.EDT td .EDTcase p:nth-of-type(2) {
    margin: 0px;
    text-align: center;
}

.EDT td .EDTcase p:nth-of-type(3) {
    margin: 0px;
    text-align: center;
} */

/*   Cases de gauche   */
.EDT tr td:first-child {
    height: 100px;
    width: 50px;
    text-align: center;
    
}

.EDT th {
    min-width: 150px;
}





/*   Informations Personnels   */

.profileWrapper {
    flex-grow: 1;
    width: 100%;
    max-width: 700px;
    display: flex;
    gap: 2px;
    border-radius: var(--common_border_radius);
    overflow: hidden;
    margin-top: 30px;
}

.profileLeftSection {
    background-color: var(--NeutralBackground);
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigProfilePicImg {
    background-color: var(--accent_Light);
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 50%;
}

.profileLeftSection .profileEditBtn {
    margin: 10px auto;
    padding: 8px 10px;
    border: none;
    border-radius: var(--common_border_radius);
    background-color: var(--accent_Lighter_05);
    color: var(--textColorBlack);
    border: 1px solid var(--accent_Lighter_05);
}





.profileRightSection {
    background-color: var(--NeutralBackground);
    flex-grow: 1;
    padding: 0px 20px;
}

.profileRightSection h2 {
    color: var(--textColorBlack);
}

.informationElement {
    display: flex;
    margin: 10px 30px;
}

.informationElement p {
    margin: 0px;
    color: var(--textColorBlack);
}

.informationElement p:nth-child(1) {
    width: 180px;
    color: var(--textColorMidBlack);
}

.informationElement p:nth-child(3) {
    margin: 0px 10px;

}

.EspaceEntreInformations {
    height: 1px;
    background-color: var(--accent_Lighter_015);
    margin: 10px 10px;
}

.EditInfoBtn {
    background-color: var(--important);
    color: white;
    padding: 7px 12px;
    border: none;
    border-radius: var(--common_border_radius);
    margin: 10px 0px 10px auto;
    cursor: pointer;
}

.EditInfoBtn:hover {
    background-color: var(--important_Low);
}

.informationElement input {
    border: none;
    border-radius: var(--common_border_radius);
    margin-left: 5px;
    background-color: var(--NeutralBackground);
    width: 180px;
    color: var(--textColorBlack);
    padding: 3px 5px;
    display: none;
}

.informationElement input:focus {
    outline: none;
}

.informationElement.onlyInEditMode {
    display: none;
}




.informationElement .editModeBtns {
    display: none;
}

.profileEditMode .informationElement .EditInfoBtn:nth-child(1) {
    display: none;
}

.profileEditMode .informationElement input {
    display: block;
}

.profileEditMode .informationElement .infoModifiable {
    display: none;
}

.profileEditMode .editModeBtns {
    display: block;
    margin: 10px;
}

.profileEditMode .editModeBtns:nth-child(2) {
    background-color: transparent;
    border: 1px solid var(--important);
    margin-left: auto;
    color: var(--textColorBlack);
}

.profileEditMode .editModeBtns:nth-child(2):hover {
    background-color: var(--important_Low);
}

.profileEditMode .onlyInEditMode {
    display: block;
    display: flex;
}



.doleancesTitle {
    font-size: 20px;
    width: 100%;
    max-width: 700px;
    margin: 40px 0px 10px 0px;
    color: var(--textColorBlack);
}

.doleancesContainer {
    background-color: var(--NeutralBackground);
    margin: 0px 0px 30px 0px;
    width: 100%;
    max-width: 700px;
    border-radius: var(--common_border_radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.doleancesTop {
    width: 100%;
    display: flex;
}

.doleancesTop h3 {
    color: var(--textColorBlack);
    margin: 15px 10px;
}

.doleancesTop input,
.doleancesTop input:focus {
    color: var(--textColorBlack);
    padding: 10px;
    outline: none;
    margin: 10px 10px 10px 0px;
    flex-grow: 1;
    margin: 10px;
    border: none;
    border-radius: var(--common_border_radius);
    background-color: var(--NeutralBackground);
}

.doleancesContainer textarea,
.doleancesContainer textarea:focus {
    outline: none;
    background-color: var(--NeutralBackground);
    border-radius: var(--common_border_radius);
    color: var(--textColorBlack);
    flex-grow: 1;
    border: none;
    margin: 0px 10px;
    padding: 10px;
}

.doleancesContainer button {
    background-color: var(--important);
    border: none;
    border-radius: var(--common_border_radius);
    padding: 5px 15px;
    color: white;
    margin: 10px;
    margin-left: auto;
    font-size: 16px;
}

.doleancesContainer button:hover {
    background-color: var(--important_interacted);
}

.doleancesTop input::placeholder,
.doleancesContainer textarea::placeholder {
    color: var(--textColorMidBlack);
}




















@media only screen and (max-width: 650px) {
    .mainPart .profileDiv {
        /* left: calc(400px + 145px); */
        left: 150px;
        background-color: transparent;
        position: absolute;
        box-shadow: none;
    }
    
    .mainPart .profileDiv .profileTextDiv {
        display: none;
    }
    
    .mainPart .profileDiv .profilePicDiv {
        height: 50px;
        width: 50px;
        margin: auto 5px auto auto;
    }

    .mainPart .Top h1 {
        font-size: 24px;
        max-width: 210px;
        margin: auto 0px;
        padding: 0px;
        padding-left: 10px;
    }

    

    .EDT th:first-child {
        min-width: 50px;
    }




    .profileWrapper {
        flex-direction: column-reverse;
    }

    .profileLeftSection {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
    }
    
    .bigProfilePicImg {
        width: 60px;
        height: 60px;
        margin: 10px auto;
    }
    
    .profileLeftSection .profileEditBtn {
        padding: 8px 20px;
    }


    
    .informationElement {
        display: flex;
        /* flex-direction: column; */
        margin: 5px 10px;
        flex-wrap: wrap;
    }
    
    .informationElement p:nth-child(1) {
        max-width: 100px;
    }

    .informationElement p:nth-child(2) {
        display: none;
    }

    
    .informationElement p:nth-child(3) {
        margin: 0px 10px;
        max-width: 180px;
    
    }
    
    .EspaceEntreInformations {
        height: 1px;
        background-color: var(--accent_Lighter_01);
        margin: 10px 10px;
    }

   

}